.project {
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  max-width: 300px;
}

.assets {
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 8px;
  width: 800px;
  box-sizing: border-box;
  margin: 20px;
}

.asset {
  border-bottom: 1px solid #e3e3e3;
}

@media (max-width: 600px) {
  .project {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    max-width: unset;
  }

  .assets {
    width: calc(100% - 40px);
    /* margin: 0; */
  }
}
